---
on: push

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.7

      - name: Set up python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.12'

      - name: Set up cache for Python dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test]

      - name: Run pytest
        run: pytest . --random-order --random-order-bucket=global --ignore test/test_e2e.py --cov --cov-report=xml

      - name: Upload coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.7

      - name: Set up python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[test]

      - name: Start e2e docker compose environment
        run: |
          cd test
          docker compose up -d

      - name: Run e2e test
        run: pytest -l -v --random-order --random-order-bucket=global test/test_e2e.py

      - name: View logs on fail
        if: failure()
        run: |
          cd test
          docker compose logs run-detection
          docker compose logs rabbit-mq
